# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
*.tex
*.dvi
*.idx
*.aux
*.log
*.ind
*.ilg
*.o
*.d
*.asm
*.sym
*.pdf
*mkfs
*entryother
Files ignored on Mon Apr 11 21:11:32 PDT 2016
xv6-psu-kernel/LucidaSans-Typewriter83~
xv6-psu-kernel/_cat
xv6-psu-kernel/_date
xv6-psu-kernel/_echo
xv6-psu-kernel/_forktest
xv6-psu-kernel/_grep
xv6-psu-kernel/_halt
xv6-psu-kernel/_init
xv6-psu-kernel/_kill
xv6-psu-kernel/_ln
xv6-psu-kernel/_ls
xv6-psu-kernel/_mkdir
xv6-psu-kernel/_rm
xv6-psu-kernel/_sh
xv6-psu-kernel/_stressfs
xv6-psu-kernel/_time
xv6-psu-kernel/_usertests
xv6-psu-kernel/_wc
xv6-psu-kernel/_zombie
xv6-psu-kernel/bootblock
xv6-psu-kernel/fmt/
xv6-psu-kernel/fs.img
xv6-psu-kernel/initcode
xv6-psu-kernel/initcode.out
xv6-psu-kernel/kernel
xv6-psu-kernel/vectors.S
xv6-psu-kernel/xv6.img
Files ignored on Sun Apr 24 08:47:23 PDT 2016
xv6-psu-kernel/_ps
xv6-psu-kernel/_testuidgid
Files ignored on Mon May 2 22:46:03 PDT 2016
xv6-psu-kernel/_testps
